<section class="text-white" id="beta-invite">

  <article
    class="px-6 md:px-10 lg:px-[165px] py-16 lg:py-[68px] relative z-10 flex flex-col md:flex-row gap-6 items-start md:items-center md:justify-between">

    <div class="w-[128px] md:w-[6px] h-[6px] md:h-full bg-gradient-custom absolute top-0 left-6 md:left-0"></div>

    <h2 class="heading-l max-w-[400px]">We’re in beta. Get your invite today!</h2>

    <button class="btn secondary">
      <span>
        get an invite
      </span>
      <span>
        <svg xmlns="http://www.w3.org/2000/svg" width="43" height="14">
          <g fill="currentColor" fill-rule="evenodd" stroke="currentColor">
            <path d="M0 7h41.864M35.428 1l6 6-6 6" />
          </g>
        </svg>
      </span>
    </button>

  </article>

</section>