<header
  class="relative z-50 flex justify-between items-center md:gap-[51px] px-6 md:px-10 lg:px-[165px] py-7 md:py-4 bg-white">

  <app-logo />


  <nav class="hidden md:block">
    <ul class="flex gap-[37px]">
      <li routerLink="/stories" class="text-nav">stories</li>
      <li routerLink="/features" class="text-nav">features</li>
      <li routerLink="/pricing" class="text-nav">pricing</li>
    </ul>
  </nav>

  <button class="hidden md:block btn primary-dark">get an invite</button>

  <button class="block w-[16px] h-[15px] cursor-pointer md:hidden" id="menu-btn" (click)="menuService.toggleMenu()"
    [ngClass]="{'open':menuService.menuSignalState()}"></button>

</header>

<nav id="mobile-menu" [ngClass]="{'open':menuService.menuSignalState()}">
  <ul class="space-y-5">
    <li routerLink="/stories" (click)="menuService.closeMenu()" class="text-nav w-fit mx-auto">stories</li>
    <li routerLink="/features" (click)="menuService.closeMenu()" class="text-nav w-fit mx-auto">features</li>
    <li routerLink="/pricing" (click)="menuService.closeMenu()" class="text-nav w-fit mx-auto">pricing</li>
  </ul>

  <div class="my-5 h-[1px] bg-black/25"></div>

  <button (click)="menuService.closeMenu()" class="btn primary-dark">get an invite</button>
</nav>

<div (click)="menuService.closeMenu()" id="mobile-menu-back-bg"></div>